= render layout: 'action_bar_blank' do
  - if current_action == "index" && can?(:create,  current_model.classify.constantize)
    .col-md-2.button-group-left
      = link_to "New #{current_model_title}", eval("new_#{current_model}_path"), :method => :get, class: 'btn btn-primary'
      = yield
    = render 'pagination_bar'

  - else
    .col-md-2.button-group-left
      - if controller == "home"
      - elsif controller == "sessions"
        = submit_tag 'Login', class: 'btn btn-primary'
      - else
        - case current_action
          - when 'new' 
            = submit_tag "Create #{current_model_title}", class: 'btn btn-primary' if can? :create, current_model_class
          - when 'create' 
            = submit_tag "Create #{current_model_title}", class: 'btn btn-primary' if can? :create, current_model_class
          - when 'edit'
            = submit_tag "Update #{current_model_title}", class: 'btn btn-primary' if can? :update, current_model_class
          - when 'update'
            = submit_tag "Update #{current_model_title}", class: 'btn btn-primary' if can? :update, current_model_class
          - when 'show'
            = link_to "Edit #{current_model_title}", eval( "edit_#{current_model}_path @#{current_model}" ), class: 'btn btn-primary' if can? :create, current_model_class
      = yield if block_given?
      = render 'back_buttons'
    = render 'pagination_bar'