= render layout: 'action_bar_blank' do
  - if current_action == "index" && can?(:create,  current_model.classify.constantize)
    - if eval("will_paginate @#{collection ||= params[:controller]}")
      .col-sm-4.col-xs-12
        = link_to "New #{current_model_title(title ||= nil)}", eval("new_#{current_model}_path"), :method => :get, class: 'btn btn-primary'
        = yield
      - if /index/ =~ current_action && @view_type != 'Calendar' then
        = render 'pagination_bar'
    - else
      .col-xs-12
        = link_to "New #{current_model_title(title ||= nil)}", eval("new_#{current_model}_path"), :method => :get, class: 'btn btn-primary'
        = yield
  - elsif %w[show new create edit update event].include?(current_action)  
    .col-xs-12
      = render 'submit_button', title: title ||= nil, object: object ||= nil
      = yield if block_given?
      = render 'back_buttons', title: title ||= nil, object: object ||= nil
  - else
    .col-md-3
      - if controller == "home"
      - elsif controller == "sessions"
        = submit_tag 'Login', class: 'btn btn-primary'
      - else
        = render 'submit_button', title: title ||= nil, object: object ||= nil
      = yield if block_given?
      = render 'back_buttons', title: title ||= nil
    - if /index/ =~ current_action && @view_type != 'Calendar' then
      = render 'pagination_bar', locals: { collection: collection }
