- if /index/ =~ current_action || current_controller == 'sessions' then
  = link_to "Home", root_path, class: 'btn btn-default'
- else 
  - if can?(:read, current_controller.classify.constantize) && valid_path?(eval("#{current_controller}_path"), :get)
    = link_to "#{current_model.titleize} Listing",  eval("#{current_controller}_path"), class: 'btn btn-default' unless current_controller == 'sessions'
  = link_to "Back", request.referer, class: 'btn btn-default'