.row.inline-form-row
  = form_tag eval("#{params[:controller]}_path"), method: 'get' do
    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]  
    = yield
