.col-xs-12.visible-xs
  - collection = collection || eval("@#{current_controller}")
  = will_paginate collection, inner_window: 0, outer_window: 0, style: 'float:left;'
.col-sm-6.visible-sm.right{style: 'float: right;'}
  = will_paginate collection, inner_window: 0, outer_window: 0, style: 'float:right;'
.col-md-4.visible-md.visible-lg
  = will_paginate collection, inner_window: 0, outer_window: 0
.col-md-2.visible-md.visible-lg.right{style: 'float: right;'}
  .btn-group.dropup
    %button.btn.btn-default.dropdown-toggle{ href: "#", data: {toggle: "dropdown"} }
      Per Page
      %span.caret
    %ul.dropdown-menu{ role: "menu" }
      - %w[5 10 15 20 25 50 100].each do |per_page|
        %li= link_to per_page, path ||= polymorphic_url([resource ||= current_resource].flatten, per_page: per_page)
