- if /index/ =~ params[:action] && @view_type != 'Calendar' then
  .col-xs-12.visible-xs
    = eval("will_paginate @#{collection ||= params[:controller].pluralize}, inner_window: 0, outer_window: 0, style: 'float:left;'")
  .col-sm-8.visible-sm
    = eval("will_paginate @#{collection ||= params[:controller].pluralize}, inner_window: 0, outer_window: 0, style: 'float:right;'")
  .col-md-4.visible-md.visible-lg
    = eval("will_paginate @#{collection ||= params[:controller].pluralize}, inner_window: 0, outer_window: 0")
  .col-md-2.visible-md.visible-lg.right{style: 'float: right;'}
    .btn-group.dropdown
      %button.btn.btn-default.dropdown-toggle{ href: "#", data: {toggle: "dropdown"} }
        Per Page
        %span.caret
      %ul.dropdown-menu{ role: "menu" }
        - %w[5 10 15 20 25 50 100].each do |per_page|
          %li= link_to per_page, path ||= eval("#{params[:controller].pluralize}_path( per_page: #{per_page} )")
