%div{ id: "#{object.class.to_s.underscore}_#{object.id}_states" }
  .row
    .col-md-2.col-xs-3
      = state_label(object)
    .col-md-10.col-xs-9
      .pull-right
        = state_changer_buttons(object)
        = yield if block_given?
        = yield :state_changer_addon
        = content_for :state_changer_addon, flush: true do
          = ''
