- case current_action
  - when 'new' 
    - if can? :create, current_model_class
      = submit_tag "Create #{current_model_title(title ||= nil)}", class: 'btn btn-primary loading', data: { loading_text: 'Loading...' }
  - when 'create' 
    - if can? :create, current_model_class
      = submit_tag "Create #{current_model_title(title ||= nil)}", class: 'btn btn-primary loading', data: { loading_text: 'Loading...' }
  - when 'edit'
    - if can? :update, object ||= current_object
      = submit_tag "Update #{current_model_title(title ||= nil)}", class: 'btn btn-primary loading', data: { loading_text: 'Loading...' }
  - when 'update'
    - if can? :update, object ||= current_object
      = submit_tag "Update #{current_model_title(title ||= nil)}", class: 'btn btn-primary loading', data: { loading_text: 'Loading...' }
  - when 'show'
    - if can? :update, object ||= current_object
      = link_to "Edit #{current_model_title(title ||= nil)}", send("edit_#{current_model}_path"), class: 'btn btn-primary loading', data: { loading_text: 'Loading...' }
  - when 'event'
    - if can? :update, object ||= current_object
      = link_to "Edit #{current_model_title(title ||= nil)}", send("edit_#{current_model}_path"), class: 'btn btn-primary loading', data: { loading_text: 'Loading...' }

